$black: #222222;
$bg-pink: #f1e4e6;
$pink-color: #f09ba6;
$white-color: #ffffff;
$grey-color: #f8f8f8;
$btn-border: #ff6a6a;
$text-pink: #f26376;
$bg-footer-black: #222224;
$footer-text-white: #fbfbfb;
$title-block-pink: #f16d7f;
$btn-form-pink: #e05c6e;
$input-form-grey: #e1e1e1;
$menu-grey: #6f6e6e;