.brand {
    display: flex;
    margin: 0 0 63px;

    @include tablet {
        margin: 0 0 20px;
    }
    
    &__img {
        object-fit: cover;

        @include tablet {
            height: 367px;
            width: 50%;
        }

        @include mobile {
            display: none;
        }
    }

    &__title {
        font-size: 48px;
        font-weight: 900;
        line-height: 58px;
        text-transform: uppercase;
        position: relative;

        @include tablet {
            font-size: 44px;
            line-height: 52px;
        }

        @include mobile {
            font-size: 38px;
            line-height: 45px;
        }
    }
    
    &__title:before {
        content: '';
        position: absolute;
        width: 12px;
        height: 92px;
        background-color: $title-block-pink;
        left: -25px;
    }
    
    &__title-wrp {
        flex-grow: 1;
        background-color: $bg-pink;
        display: flex;
        align-items: center;
        padding: 0 0 0 92px;

        @include tablet {
            padding: 0 0 0 62px;
        }

        @include mobile {
            padding: 0 0 0 83px;
            min-height: 363px;
        }
    }

    &__subtitle {
        font-size: 32px;
        font-weight: 700;
        line-height: 38px;
        display: block;

        @include tablet {
            font-size: 24px;
            line-height: 28px;
        }

        @include mobile {
            font-size: 20px;
            line-height: 24px;
        }

        &-pink {
            color: $pink-color;
        }
    }
}
