.footer__subscribe {
    background-image: url(../img/surfer.jpg);
    background-size: cover;
    min-height: 448px;
    display: flex;
    align-items: center;

    @include tablet {
        min-height: 693px;
    }
}

.footer__subscribe-wrp {
    display: flex;
    justify-content: space-between;

    @include tablet {
        flex-direction: column;
        align-items: center;
    }
}

.footer__up-newsletter {
    @include tablet {
        margin: 48px 0 0 0;
    }
}

form {
    display: flex;
}

.footer__social {
    background-color: $black;
    min-height: 80px;
    display: flex;

    @include mobile {
        min-height: 143px;
    }
}

.footer__social-wrp {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: normal;
    }
}

.footer__social-copy {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    color: $grey-color;

    @include mobile {
        padding: 40px 0 9px 0;
    }
}

.footer__social-list {
    display: flex;
}

.footer__social-item {
    margin: 0 0 0 7px;
    width: 32px;
    height: 32px;
    background-color: $footer-text-white;
    position: relative;
}

.footer__social-item:focus,
.footer__social-item:hover {
    cursor: pointer;
    background-color: $btn-form-pink;
}

.footer__social-item:active {
    background-color: $btn-form-pink;
    opacity: 0.7;
}