.products {
    margin-bottom: 128px;
}


.products__title {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    font-weight: 400;
    margin: 96px 0 0 6px;

    @include tablet {
        margin: 155px 0 0 3px;
    }    

    @include mobile {
        margin: 64px 0 0 3px;
    }
}

.products__text {
    font-family: Lato;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 48px 0;

    @include tablet {
        margin: 0 0 74px 0;
    }

    @include mobile {
        margin: 0 0 64px 0;
    }
}

.products__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.products__item {
    background-color: $grey-color;
    width: 31%;
    min-height: 581px;
    margin: 0 0 30px 0;

    @include tablet {
        width: 48%;
        margin: 0 0 16px 0;
    }

    @include mobile {
        width: 100%;
        margin: 0 0 16px 0;
    }
}

.products__item-title {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-transform: uppercase;
    padding: 25px 0 0 18px ;
}

.products__item-text{
    font-weight: 300;
    line-height: 17px;
    padding: 0 28px 0 18px;
    margin: 13px 0 18px 0;
}

.products__item-price {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: $text-pink;
    padding: 0 0 20px 18px;
}

.products__btn {
    text-transform: capitalize;
    @include flex-center;
    border: 1px solid $btn-border;
    color: $text-pink;
    width: 211px;
    height: 47px;
    margin: 16px auto;
}

.products__btn:hover,
.products__btn:focus {
    background-color: $title-block-pink;
    cursor: pointer;
    border: 1px solid $title-block-pink;
    color: $white-color;
}

.products__btn:active {
    opacity: 0.7;
    background-color: $title-block-pink;
    cursor: pointer;
    border: 1px solid $title-block-pink;
    color: $white-color;
} 
