.product__breadcrumb {
    display: flex;
}

.product__breadcrumb-item {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    font-style: normal;
    color: $menu-grey;
    padding: 0 3px 0 3px;
}

.product__breadcrumb-item + .product__breadcrumb-item::before {
    content: $breadcrumb-divider;
}

.product__breadcrumb-item > a {
    text-decoration: none;
    color: $menu-grey;
}

.product__breadcrumb-item.active {
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    color: $title-block-pink;
}

.product__slider {
    z-index: 1;
}

.fa-wrp {
    font-size: 22px;
    padding: 12px 17px;
    background-color: $menu-grey;
    color: $black;
}

.fa-wrp:hover {
    color: $pink-color;
}

.product__item {
    margin-top: -60px;
    z-index: 2;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 600px;
    padding: 65px 0;
}

.product__item-button {
    width: 210px;
    height: 48px;
    color: $btn-form-pink;
    border: 1px solid $btn-form-pink;
    background-color: $white-color;
    padding: 14px 56px 12px 72px;
    position: relative;
}

.product__item-button:before {
    content: '';
    position: absolute;
    width: 26px;
    height: 24px;
    background: transparent;
    background-image: url(../img/cart.svg);
    background-size: 26px 24px;
    top: 12px;
    left: 42px;
}

.product__item-button:hover,
.product__item-button:focus {
    background-color: $title-block-pink;
    cursor: pointer;
    border: 1px solid $title-block-pink;
    color: $white-color;
}

.product__item-button:active {
    opacity: 0.7;
    background-color: $title-block-pink;
    cursor: pointer;
    border: 1px solid $title-block-pink;
    color: $white-color;
} 


.product__item-title {
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    font-style: normal;
    color: $text-pink;
    text-transform: uppercase;
}

.product__item-subtitle {
    font-size: 18px;
    line-height: 22px;
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase;
}

.product__item-description {
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    font-style: normal;
    width: 49%;
    margin: 48px 0 32px;
}

.product__item-price {
    font-size: 24px;
    line-height: 29px;
    font-weight: 300;
    font-style: normal;
    color: $text-pink;
}

.product__dropdown {
    margin: 0 0 49px;
}

.product__item-title-hr {
    width: 63px;
    border: 1px solid $pink-color;
    color: $pink-color;
}

.product__item-hr {
    width: 641px;
    margin: 65px 0;
}

.dropdown-button {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    font-style: normal;
    color: $menu-grey;
}